<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.2" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="BouncyCastle.NetCore" version="1.8.8" targetFramework="net472" />
  <package id="CryptSharpStandard" version="1.0.0" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net472" />
  <package id="Liphsoft.Crypto.Argon2" version="1.0.5" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net46" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net472" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net472" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>