<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.2" targetFramework="net46" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net46" />
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net452" />
  <package id="Liphsoft.Crypto.Argon2" version="1.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net46" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net46" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.4" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>